.Ideas {
  height: 150px;
  width: 150px;
  margin: 10px;
  background-color: orange;
  font-size: 11px;
  text-align: center;
}

.closeButton {
 float: right;
}

.ideaBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}