.ideaHeader {
  text-align: center;
  margin-top: 5vh;
}

.row {
  margin-right: -50px;
  margin-left: 60px;
}
.newIdeaButton {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}